# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csproj
*.unityproj

# Unity temporary & cache directories (generated locally)
/[Uu]nity/[Ll]ibrary/
/[Uu]nity/[Tt]emp/
/[Uu]nity/[Oo]bj/
/[Uu]nity/[Bb]uild/
/[Uu]nity/[Bb]uilds/
/[Uu]nity/[Ll]ogs/
/[Uu]nity/[Uu]ser[Ss]ettings/
/[Uu]nity/[Mm]emoryCaptures/
/[Uu]nity/.vs/
/[Uu]nity/.idea/
/[Uu]nity/*.csproj
/[Uu]nity/*.sln
